html {
  background-color: #FFF;
}

body {
  margin: 0;
  width: 100%;
  background-color: #ffe6ba;
  background-image: url(/images/colors.jpg);
}

img {
  display: block;
  margin: 0 auto;
}

.home {
  grid-area: home_area;
}

.navbar>div {
  background-color: #4a4142;
  color: white;
  font-family: georgia; 
  font-size: 125%;
  font-weight: bold;
  padding:20px 10px;
  text-align: left;
}


.navbar {
  background-color: #4a4142;
  display: grid;
  grid: 'home_area home_area . . .';
  grid-gap: 0px;
  margin: 0px;
  padding: 0px;
  box-shadow: 5px 5px 5px #DDD;
}

